<div class="page-header">
  <h3><%= @user.username %></h3>

  <% @photos.each do |photo| %>

    <li class="list-group-item">
      <img src="<%= photo.image %>" width="500">
    </li>

  <% end %>
</div>
